<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpsmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TPsMobile">
        <activity
            android:name=".ProgressBarExo"
            android:exported="false" />
        <activity
            android:name=".Map"
            android:exported="false" />
        <activity
            android:name=".SimpleListeV2"
            android:exported="false" />
        <activity
            android:name=".SimpleListeV1"
            android:exported="false" />
        <activity
            android:name=".SeekBarExo"
            android:exported="false" />
        <activity
            android:name=".PersonaliseToast"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".TextRandom"
            android:exported="false" />
        <activity
            android:name=".Weight"
            android:exported="false" />
        <activity
            android:name=".FrameLayoutExo"
            android:exported="false" />
        <activity
            android:name=".SimpleToast"
            android:exported="false" />
        <activity
            android:name=".IntentExo"
            android:exported="false" />
        <activity
            android:name=".ImageButton"
            android:exported="false" />
        <activity
            android:name=".CycleVie"
            android:exported="false" />
        <activity
            android:name=".HelloWorld"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>